@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-primary: #D69268;
  --color-black: #071519;
  --color-black: #090805;
  --color-white: #F4F4F4;
  --color-gray: #B7B7B7;
  --color-gray-light: #E7E7E7;
  --color-gray-dark: #4B4B4B;
  --color-blue: #1E90FF;
  --color-blue-light: #1E90FF;
  --color-blue-dark: #1E90FF;
  --color-green: #00FF7F;
  --color-green-light: #00FF7F;
  --color-green-dark: #00FF7F;
  --color-red: #FF4500;
  --color-red-light: #FF4500;
  --color-red-dark: #FF4500;
  --color-yellow: #FFD700;
  --color-yellow-light: #FFD700;
  --color-yellow-dark: #FFD700;
  --color-orange: #FFA500;
  --color-orange-light: #FFA500;
  --color-orange-dark: #FFA500;
  --color-purple: #800080;
  --color-purple-light: #800080;
  --color-purple-dark: #800080;
  --color-pink: #FF69B4;
  --color-pink-light: #FF69B4;
  --color-pink-dark: #FF69B4;
  --color-cyan: #00FFFF;
  --color-cyan-light: #00FFFF;
  --color-cyan-dark: #00FFFF;
  --color-teal: #008080;
  --color-teal-light: #008080;
  --color-teal-dark: #008080;
  --color-brown: #A52A2A;
  --color-brown-light: #A52A2A;
  --color-brown-dark: #A52A2A;
  --color-indigo: #4B0082;
  --color-indigo-light: #4B0082;
  --color-indigo-dark: #4B0082;
  --color-violet: #EE82EE;
  --color-violet-light: #EE82EE;
  --color-gold: #FFD700;
  --color-silver: #C0C0C0;
  --color-bronze: #CD7F32;  
}