@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: Montserrat, sans-serif;

  --color-*: initial;
  --color-primary: #d69268;
  --color-primary-light: #f2dccf;
  --color-primary-dark: #ca723f;
  --color-black: #090805;
  --color-white: #f4f4f4;
  --color-gray: #b7b7b7;
  --color-gray-light: #e7e7e7;
  --color-gray-dark: #4b4b4b;
  --color-blue: #1e90ff;
  --color-blue-light: #1e90ff;
  --color-blue-dark: #1e90ff;
  --color-green: #00ff7f;
  --color-green-light: #00ff7f;
  --color-green-dark: #00ff7f;
  --color-red: #ff4500;
  --color-red-light: #ff4500;
  --color-red-dark: #ff4500;
  --color-yellow: #ffd700;
  --color-yellow-light: #ffd700;
  --color-yellow-dark: #ffd700;
  --color-orange: #ffa500;
  --color-orange-light: #ffa500;
  --color-orange-dark: #ffa500;
  --color-purple: #800080;
  --color-purple-light: #800080;
  --color-purple-dark: #800080;
  --color-pink: #ff69b4;
  --color-pink-light: #ff69b4;
  --color-pink-dark: #ff69b4;
  --color-cyan: #00ffff;
  --color-cyan-light: #00ffff;
  --color-cyan-dark: #00ffff;
  --color-teal: #008080;
  --color-teal-light: #008080;
  --color-teal-dark: #008080;
  --color-brown: #a52a2a;
  --color-brown-light: #a52a2a;
  --color-brown-dark: #a52a2a;
  --color-indigo: #4b0082;
  --color-indigo-light: #4b0082;
  --color-indigo-dark: #4b0082;
  --color-violet: #ee82ee;
  --color-violet-light: #ee82ee;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: var(--color-black);
}
